<div class="task-item">

  <div class="task-text">

    <span
      class="title"
      [class.completed]="tarea.completada"
    >
      {{ tarea.titulo }}
    </span>

    <span class="description">
      {{ tarea.descripcion }}
    </span>

  </div>

  <div class="task-actions">

    <button class="complete" (click)="onToggle()">
      {{ tarea.completada ? 'Deshacer' : 'Completar' }}
    </button>

    <button class="delete" (click)="onEliminar()">
      Eliminar
    </button>

  </div>
</div>