.task-item {
  display: grid;
  grid-template-columns: 1fr auto; /* texto | botones */
  gap: 10px;
  align-items: center;

  padding: 15px;
  border-radius: 10px;
  background-color: #f8f9fb;
  border: 1px solid #eee;
  margin-top: 10px;
}

/* Contenedor texto */
.task-text {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

/* Título */
.title {
  font-weight: 500;
  margin-bottom: 4px;
}

/* Descripción */
.description {
  font-size: 13px;
  color: #666;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Contenedor botones */
.task-actions {
  display: flex;
  gap: 8px;
}

/* Botones */
.task-actions button {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* Completar */
.complete {
  background-color: #a0d8b3;
}

/* Eliminar */
.delete {
  background-color: #f5a3a3;
}