form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.error {
  color: rgb(196, 70, 70);
  font-size: 12px;
}